<div class="antialiased bg-gray-100 dark-mode:bg-gray-900 border-b-2 border-b-gray-100">
  <div class="w-full text-gray-700 bg-white dark-mode:text-gray-200 dark-mode:bg-gray-800">
    <div
      class="flex flex-col max-w-screen-xl px-4 mx-auto md:items-center md:justify-between md:flex-row md:px-6 lg:px-8">
      <div class="flex flex-row items-center justify-between p-4">
        <ng-content select="[nav-title]"></ng-content>
        <ng-content select="[mobile-menu]"></ng-content>
      </div>

      <ng-content select="[nav-items]"></ng-content>
    </div>
  </div>
</div>
