<section class="bg-white p-4 mt-2 space-y-10">
  <h1 class="font-semibold text-blueGray-700 text-2xl">{{formName}}</h1>

  <form (ngSubmit)="submit()" *ngIf="form" [formGroup]="form" class="flex flex-col gap-4">

    <ng-container *ngFor="let control of controlList">
      <app-input *ngIf="control.type==='text' || control.type==='number'"
                 [control]="form.get(control.name.split(' ').join(''))"
                 [label]="control.name"
                 [placeholder]="control.placeholder">
      </app-input>

      <app-radio *ngIf="control.type==='radio'"
                 [control]="form.get(control.name.split(' ').join(''))"
                 [data]="control.data"
                 [label]="control.name">
      </app-radio>

      <app-select *ngIf="control.type==='select'"
                  [control]="form.get(control.name.split(' ').join(''))"
                  [dataList]="control.data"
                  [label]="control.name"
                  [placeholder]="'Select ' + control.name"
                  bindLabel="name"
                  bindValue="value">
      </app-select>


      <ng-container *ngIf="control.type==='checkbox'" formArrayName="{{control.name.split(' ').join('')}}">
        <label>{{control.name}}</label>
        <label *ngFor="let option of control.data;let index=index"
               [formGroupName]="index" class="inline-flex items-center mt-1">
          <input
            class="form-checkbox h-5 w-5 text-gray-600"
            formControlName="checked"
            type="checkbox"
            value="{{option.value}}">
          <span class="ml-2 text-gray-700">{{option.name}}</span>
        </label>
      </ng-container>

    </ng-container>

    <button class="primary-btn">Submit</button>
  </form>

</section>
