<section *ngIf="order | async;let order" class="bg-white p-4">
  <h1 class="mb-4 font-semibold text-2xl">Food Order Detail</h1>

  <div>
    <div class="flex">
      <div class="flex-auto">
        <h4 class="text-xs">Customer Name</h4>
        <h2 class="font-semibold text-xl">{{order.name}}</h2>
      </div>
      <div>
        <button type="button" class="primary-btn" [routerLink]="['/order/create']" [queryParams]="{ userId:order.id, mode: 'edit'}"><span><i class="fa fa-pen mr-2"></i></span>Edit Order</button>
      </div>
    </div>
    <div>
      <h4 class="text-xs">Contact No</h4>
      <h2 class="font-semibold text-xl">{{order.contactNo}}</h2>
    </div>


    <div class="mt-4">
      <h3 class="font-sans font-semibold flex-1">Item Listing</h3>
      <app-table [dataList]="order.items" [isSortable]="true" [tableBody]="row" [titles]="tableColumns">
        <ng-template #row let-item='item'>
          <td class="text-center">
            <p>{{item?.name}}</p>
          </td>
          <td class="text-center">
            <p>{{item?.price}}</p>
          </td>
          <td class="text-center">
            <p>{{item?.quantity}}</p>
          </td>
          <td class="text-center">
            <p>{{item?.price * item?.quantity}}</p>
          </td>
          <td class="px-2 text-center">
            <span class="mr-2"><i class="far fa-trash-alt text-red-400"></i></span>
          </td>

        </ng-template>
      </app-table>
    </div>
  </div>
</section>
