<div class="flex flex-col w-full">
  <label *ngIf="label" [ngClass]="{'text-red-700': control && control.touched && control.invalid}"
         class="whitespace-nowrap mb-2">{{label}}</label>
  <input [formControl]="control" [id]="label" [name]="label"
         [ngClass]="{'!border-red-400': control && control.touched && control.invalid, '!border-gray-400': control && control.value }"
         [placeholder]="placeholder" [type]="inputType"
         class="h-10 border-gray-50 mt-1 rounded px-4 w-full bg-gray-50"/>

  <ng-container *ngIf="isErrorShown">
    <ng-container *ngIf="control">
      <div *ngIf="control.touched && control.invalid"
           [ngClass]="{'text-red-600': control && control.touched && control.invalid}"
           class="flex flex-col w-full">
        <p *ngIf="control.hasError('required')" class="text-xs">{{label || 'This field'}} is required!</p>
        <p *ngIf="control.hasError('localPhoneNumber')" class="text-xs">This phone number is invalid in Bangladesh</p>
        <p *ngIf="control.errors['minlength']" style="font-size: 0.75rem !important;">
          Value you entered is {{ control.errors['minlength']['actualLength'] }}
          characters long, but it must be at least {{ control.errors['minlength']['requiredLength'] }} characters
        </p>
        <p *ngIf="control.errors['maxlength']" style="font-size: 0.75rem !important;">
          Value you entered is {{ control.errors['maxlength']['actualLength'] }}
          characters long, but it cannot be longer than {{ control.errors['maxlength']['requiredLength'] }} characters
        </p>

      </div>

    </ng-container>


    <ng-content select="[form-error]"></ng-content>
  </ng-container>

</div>
