<app-table [dataList]="dataList" [tableBody]="row" [titles]="titles">

  <h3 class="font-semibold text-2xl text-blueGray-700" table-title>Customer List</h3>
  <!-- <a header-button
      type="button" > <span class="mr-2"><i class="fas fa-plus"></i></span> Create New
   </a>-->


  <ng-template #row let-item='item'>
    <td class="text-center">
      {{item.name}}
    </td>
    <td class="text-center">
      {{item.contactNo}}
    </td>
    <td class="text-center">
      <span class="mr-2"><i class="far fa-trash-alt text-red-400"></i></span>
    </td>
  </ng-template>
</app-table>
