<form *ngIf="controlForm" (ngSubmit)="submit()" [formGroup]="controlForm" class="mt-2 bg-white min-h-full p-4">
  <h1 class="text-3xl mt-2 font-semibold">New Control</h1>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-4">
    <div class="col-span-1 space-y-4">
      <h3 class="text-xl font-semibold">Create</h3>

      <div class="space-y-4 ">
        <app-input [control]="controlForm.get('name')" label="Name" placeholder="i.e : Phone Number"></app-input>
        <app-input [control]="controlForm.get('placeholder')" label="Placeholder"
                   placeholder="i.e : +88023424231"></app-input>

        <app-select [control]="controlForm.get('type')" [dataList]="typeList" bindLabel="name"
                    bindValue="value" label="Control Type" placeholder="Select Control Type"></app-select>

        <div class="flex flex-row-reverse ">
          <button class="primary-btn" type="button">Add Data</button>
        </div>
      </div>
    </div>
    <div class="col-span-1 cursor-not-allowed">
      <h3 class="text-xl font-semibold mb-4">Preview</h3>
      <div *ngIf="controlForm.get('name').value.length>0;else elif" class="p-10">
        <div class="flex flex-col w-full">
          <label class="w-[10ch]">{{controlForm.get('name').value}}</label>
          <input [id]="controlForm.get('name').value" [name]="controlForm.get('name').value"
                 [placeholder]="controlForm.get('placeholder').value" [type]="controlForm.get('type').value"
                 class="h-10 border-gray-50 mt-1 rounded px-4 w-full bg-gray-50"/>
        </div>
      </div>
      <ng-template #elif>
        <h1> A preview will be here</h1>
      </ng-template>
    </div>
  </div>


  <div class="flex flex-row-reverse">
    <button class="primary-btn">Save</button>
  </div>
</form>
