<app-table [dataList]="dataList | async" [tableBody]="row" [titles]="titles">

  <h3 class="font-semibold text-blueGray-700 text-2xl" table-title>Dynamic Forms</h3>
  <a class="bg-indigo-500 text-white active:bg-indigo-600 text-xs font-bold uppercase
    rounded outline-none focus:outline-none p-2 ease-linear transition-all duration-150" header-button
     routerLink="/dynamic-form/create-form" title="Create new bulk order" type="button"> <span class="mr-2"><i
    class="fas fa-plus"></i></span> Create New
  </a>

  <ng-template #row let-item='item'>
    <td class="text-center">
      {{item.name}}
    </td>

    <td class="text-center space-x-4">
      <!--      <a class="cursor-pointer" title="delete order"><i class="far fa-trash-alt text-red-400"></i></a>-->
      <a [queryParams]="{'form-no':item?.id}" [routerLink]="['/dynamic-form/control-list']" class="cursor-pointer"><i
        class="fas fa-plus"></i></a>
      <a [queryParams]="{form:item?.id, mode:'edit'}" [routerLink]="['/dynamic-form/create-form']"
         class="cursor-pointer"><i
        class="fas fa-edit"></i></a>
      <a [queryParams]="{'form-no':item?.id}" [routerLink]="['/dynamic-form/view']" class="cursor-pointer"><i
        class="far fa-eye text-purple-400"></i></a>
    </td>
  </ng-template>
</app-table>
