<section class="bg-white p-4">
  <h1 class="mb-4 font-semibold text-2xl">Food Order</h1>
  <form (ngSubmit)="submit()" *ngIf="orderForm" [formGroup]="orderForm">
    <app-input [control]="orderForm.get('name')" label="Name" placeholder="ie. Mr Beaker "></app-input>
    <app-input [control]="orderForm.get('contactNo')" label="Contact No" placeholder="ie. +8801303684645">
    </app-input>


    <div class="my-4 space-y-4 relative">
      <div class="flex ">
        <h3 class="font-sans font-semibold flex-1">Item Listing</h3>
        <button (click)="addNewOrderItem()" class="primary-btn" type="button"><i class="fas fa-plus mr-1"></i>Add new
        </button>
      </div>

      <ng-container>
        <app-table [dataList]="orderForm.get('items')['controls']" [isSortable]="false" [tableBody]="row" [titles]="tableColumns" formArrayName="items">
          <ng-template #row let-index='index' let-item='item'>
            <ng-container formGroupName="{{index}}">
              <td class="px-2">
                <app-input [control]="item.get('name')" [isErrorShown]="false" placeholder="Food Name">

                </app-input>
              </td>
              <td class="px-2">
                <app-input [control]="item.get('price')" [isErrorShown]="false" inputType="number" placeholder="Price"></app-input>
              </td>
              <td class="px-2">
                <app-input [control]="item.get('quantity')" [isErrorShown]="false" inputType="number" placeholder="Quantity"></app-input>
              </td>
              <td class="text-center px-2">{{item.value['price'] * item.value['quantity']}}</td>
              <td class="px-2 text-center">
                <span (click)="removeOrderItem(index)" class="mr-2"><i class="far fa-trash-alt text-red-400"></i></span>
              </td>
            </ng-container>
          </ng-template>
        </app-table>
      </ng-container>

    </div>

    <div class="flex gap-2 flex-row-reverse">
      <button class="primary-btn" type="submit"><span class="mr-1"><i class="fas fa-save"></i></span> Submit
      </button>
      <button *ngIf="order?.id>0" (click)="buildForm()" class="warn-btn" type="button"><span class="mr-1"><i class="fas fa-redo "></i></span>Reset
      </button>

    </div>

  </form>
</section>
