<app-nav>
  <a
    class="text-lg font-semibold tracking-widest text-gray-900 uppercase rounded-lg dark-mode:text-white focus:outline-none focus:shadow-outline"
    nav-title
    routerLink="/">Task
    One</a>
  <button (click)="open = !open" class="rounded-lg md:hidden focus:outline-none focus:shadow-outline" mobile-menu>
    <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20">
      <path *ngIf="!open" clip-rule="evenodd"
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z"
            fill-rule="evenodd"></path>
      <path *ngIf="open" clip-rule="evenodd"
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            fill-rule="evenodd"></path>
      o
    </svg>
  </button>

  <nav [ngClass]="{'flex': open, 'hidden': !open}"
       class="flex-col flex-grow hidden pb-4 md:pb-0 md:flex md:justify-end md:flex-row"
       nav-items>
    <a class="link" routerLink="order" routerLinkActive="!bg-gray-200">Order</a>
    <a class="link" routerLink="customer" routerLinkActive="!bg-gray-200">Customer</a>
    <a class="link" routerLink="dynamic-form" routerLinkActive="!bg-gray-200">Dynamic Form</a>
  </nav>
</app-nav>

<main class="max-w-screen-xl mx-auto px-4">
  <nav aria-label="Breadcrumb" class="flex bg-white mt-2
   text-indigo-700 border border-blue-200 py-3 px-5 rounded-lg mb-4">
    <ol class="inline-flex items-center space-x-1 md:space-x-3">
      <li *ngFor="let url of urls;let index=index" class="inline-flex items-center">
        <a [routerLink]="getFinalUrl(index)" class="text-blue-700 hover:text-blue-900 inline-flex items-center">
          <svg *ngIf="index>1" class="w-6 h-6 text-blue-400" fill="currentColor" viewBox="0 0 20 20"
               xmlns="http://www.w3.org/2000/svg">
            <path clip-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  fill-rule="evenodd"></path>
          </svg>
          {{url | filterQuery | sentenceCase}}
        </a>
      </li>
    </ol>
  </nav>
  <router-outlet></router-outlet>
</main>
