<div class="flex flex-col">
  <label class="mb-2" for="{{control.name}}">{{label}}</label>
  <ng-container *ngFor="let option of data">
    <label class="inline-flex items-center mt-3" for="{{option.name}}">
      <input [formControl]="control"
             class="form-radio h-5 w-5 text-gray-600"
             id="{{option.name}}"
             name="{{control.name}}"
             type="radio"
             value="{{option.value}}">
      <span class="ml-2 text-gray-700">{{option.name}}</span>
    </label>
  </ng-container>
</div>
