<section class="mt-2 bg-white min-h-full  px-2 py-6">
  <h1 class="text-3xl mt-2 mb-4 font-semibold">New Form</h1>
  <form (ngSubmit)="submit()" *ngIf="form" [formGroup]="form" class="space-y-4">
    <app-input [control]="form.get('name')" label="Name" placeholder="Customer Form"></app-input>
    <button class="primary-btn">Submit</button>
  </form>
</section>
