<app-table [dataList]="dataList | async" [tableBody]="row" [titles]="titles">

  <h3 class="font-semibold text-blueGray-700 text-2xl" table-title>Control List</h3>
  <a [queryParams]="{'form-no': formNo}"
     class="bg-indigo-500 text-white active:bg-indigo-600 text-xs font-bold uppercase rounded outline-none focus:outline-none p-2 ease-linear transition-all duration-150"
     header-button
     routerLink="/dynamic-form/create-control"
     title="Create new control"
     type="button">
    <span><i class="fas fa-plus ml-2"></i></span> Create New
  </a>


  <ng-template #row let-item='item'>

    <td class="text-center">
      {{item.name}}
    </td>
    <td class="text-center">
      {{item.type}}
    </td>
    <td class="text-center">
      {{item.placeholder}}
    </td>

    <td class="text-center space-x-4">
      <a class="cursor-pointer" title="delete order"><i class="far fa-trash-alt text-red-400"></i></a>
      <a [queryParams]="{formId:item?.id}" [routerLink]="['/dynamic-form/control-list']" class="cursor-pointer"><i
        class="far fa-eye text-purple-400"></i></a>
    </td>
  </ng-template>
</app-table>
