<section class="py-1 bg-white">
  <div class="w-full">
    <div class="relative flex flex-col min-w-0 break-words w-full mb-6   rounded ">
      <div class="rounded-t mb-0 px-4 py-3 border-0">
        <div class="flex flex-wrap items-center">
          <div class="relative w-full py-2 max-w-full flex-grow flex-1">
            <ng-content select="[table-title]"></ng-content>
          </div>
          <div class="relative w-full px-4 max-w-full flex-grow flex-1 text-right">
            <ng-content select="[header-button]"></ng-content>
          </div>
        </div>
      </div>

      <div class="block w-full overflow-x-auto">
        <table class="items-center w-full border-collapse">
          <thead class="border-b-2 ">
          <tr>
            <th class="p-3">Sl</th>
            <th (click)="sortByCol(title)" *ngFor="let title of titles">{{title | sentenceCase}}</th>
            <th>Action</th>
          </tr>
          </thead>

          <tbody>
          <!--TODO 1: Need to more optimize -->
          <ng-container *ngIf="isSortable">
            <ng-container *ngFor="let data of dataList | sorter:sortName ;let index=index">
              <tr class="hover:bg-gray-100 odd:bg-white even:bg-gray-50" title="This record shown for {{data?.name}}">
                <td class="text-center p-2">{{index + 1}}</td>
                <ng-container *ngTemplateOutlet="tableBody; context:{item : data, index:index}">
                  <ng-content></ng-content>
                </ng-container>
              </tr>
            </ng-container>
          </ng-container>
          <!--TODO 2: Need to optimize -->
          <ng-container *ngIf="!isSortable">
            <ng-container *ngFor="let data of dataList ;let index=index">
              <tr>
                <td class="text-center">{{index + 1}}</td>
                <ng-container *ngTemplateOutlet="tableBody; context:{item : data, index:index}">
                  <ng-content></ng-content>
                </ng-container>
              </tr>
            </ng-container>
          </ng-container>
          </tbody>

          <tfoot>
          <p *ngIf="dataList.length<0">No item found!</p>
          </tfoot>
        </table>
      </div>
    </div>
  </div>

</section>
