<div>
  <label class="mb-2" for="control-type">{{label}}</label>
  <ng-select [bindLabel]="bindLabel"
             [bindValue]="bindValue"
             [formControl]="control"
             [items]="dataList"
             class="bg-gray-200"
             id="control-type"
             [placeholder]="placeholder"></ng-select>
</div>
